/*COMMON STYLE*/

body{
    margin: 0;
}

   /*HEADER SECTION*/
 .header{
   background-color: rgba(49, 49, 49, 1);
   display: flex;
   justify-content: space-between;
}

.text-logo{
   font-size: 17px;
   display: flex;
   align-items: center;
   text-align: center;
   color: white;
}

.text-logo h2 {
   padding-left: 15px;
}

.logo{
   width: 27px;
   height: 27px;
   margin-left: 15px;
}

.list-item{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   font-size: 18px;
   line-height: 18px;
}

.item{
   list-style-type: none;
   padding: 15px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color: white;
   text-transform: uppercase;
}

.search-Wraper{
   width: 68px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

/*HEADER MAIN*/

.main-wrapper{
   background-image: url("../img/header-bg.jpeg");
   background-attachment: fixed;
   background-size: cover;
   /*выровнять картинку (увеличить зум)*/
   background-position-y: bottom;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 369px;
   box-shadow: inset 0 0 1884px rgb(0 0 0);
}
 
.text1{
   font-size: 24px;
   line-height: 27px;
   color: white;
   font-weight: bold;   
  
}




.button-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 360px;

}

.button{
   width: 170px;
   height: 55px;
   border-radius: 5px;
   color: white;
   border: none;
}

.text2{
   background-color:  rgb(37, 235, 120);
   
}

.text3{
   background-color:  rgba(20, 185, 213, 1); 
}


 .image-container-most-popular{
    display: flex;
    flex-direction: column;
   flex-wrap: wrap;
   

 }

/*MOST POPULAR CLIENTS*/
.text4{
  
   text-align: center;
   color: #18B4CF;
   font-size: 12px;
   padding-top: 11px;
  

}


/* SECTION-POSTS// */

.section-posts{
   background: #F2F2F2;

}

.container{
   margin: 0 auto;
   max-width: 1170px;
}

.posts{
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}
 
.text11{
   width: 177px;
   height: 33px;
   font-family: Open Sans;
   font-style: normal;
   font-weight: bold;
   font-size: 27px;
   line-height: 37px;
   color: #18B4CF;
   text-align: center;
  
}

.popular-posts{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   width: 1140px;
   margin-bottom: 10px;
   height: 820px;
   list-style-type: none;
   text-align: center;
}

.most-populars-posts{
   margin-left: 12px;
   margin-left: 11px;
   margin-bottom: 23px;
}

.posts-text{
   text-align: center;
   font-size: 18px;
   color: #353a3d;
   padding-top: 15px;
   padding-bottom: 17px;
   background-color: #ffff;
   
}

.title{
font-family: "Open Sans";
font-style: normal;
font-weight: bold;
font-size: 27px;
line-height: 37px;
margin: 49px 0;
color: #18B4CF;
}



.text5{
   position: absolute;
   left: 335px;
   top: 1000px;
   width: 300px;
   height: 510px;
   display: flex;
   color: black;
    justify-content: center;
   
   background-color:  rgb(245, 228, 244);
   left: 295px;
   height: 30px;
  top: 715px;
  width: 287px;




   
}

.text6{
   position: absolute;
   width: 300px;
   height: 495px;
   left: 640px;
   top: 915px;
   color: black;
}
.text7{
   position: absolute;
   width: 300px ;
   height: 495px ;
   left: 967px ;
   top: 728px;
   color: black;
}

.text8{
   position: absolute;
   width: 300px ;
   height: 495px ;
   left: 44px;
   color: black;
   display: flex;
   top: 208px;
}

.text9{
   position: absolute;
   width: 300px;
   height: 495px;
   left: -17px;
   color: black;
   top: 187px;
}


.most-populars{
   width: 100%;
    height: 588px;
  
    background-image: url(../img/parallax-bg.jpeg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: inset 0 0 2039px rgb(0 0 0);
    padding-bottom: 191px;
   
}
.text10{
   font-family: "Open Sans";
   font-style: normal;
   font-weight: bold;
   font-size: 32px;
   line-height: 44px;
    margin: 0px;
 
 

}

.line{
background-color: #18B4CF;
display: flex;
justify-content: center;
width: 60px;
height: 3px;

  } 

.image-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-column-gap: 58px;
   grid-template-areas:
       "main-pig7"
       "main-pig8"
       "main-pig9"
       "main-pig10";
     
  
}



.grid-top-rated-images{
   display: grid;
   grid-template-columns: repeat(7,1fr) ;
   grid-template-rows: 1fr;
   
  
}


   .grid-top-rated-images img{
      width: 100%;
   }
   
   .container2{
      width: 170px;
      height: 33px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 27px;
      line-height: 37px;
      color: #18B4CF;
     
      padding-left: 868px;
}
     
   
   


   
   
  
   
   .hot-news-list{
      /* list-style: none; */
      display: grid;
     width: 1169px;
    margin: 0 auto;
        grid-template-columns: repeat(4,1fr);
       grid-template-rows: 259px 418px 418px 259px; 
        gap: 35px;





}
 

.hot-news-container{
   /* display: inline-block; */
   padding: 0px 24px 40px 24px;
   text-align: right;
}

.spa_in_emirate{
    display: flex; 
 
 grid-column-start: 1;
 grid-column-end: 4;
}

.hotel_in_spain{

 
 } 

.resort_in_egypt{

grid-column-start: 1;
grid-column-end: 3;
   }
.resort_in_maldives{

   grid-column-start: 3;
   grid-column-end: 5;
}
 
.resort_in_tenerife{
  
grid-column-start: 1;
grid-column-end: 3;
}
   
.great_britain{
 
 grid-column-start: 3;
 grid-column-end: 5;
}

.hotel_in_ireland{
  
  grid-column-start: 1;
  grid-column-end: 3;
}

.resort_in_spain{

   grid-column-start: 2;
   grid-column-end: 5;
   margin-top: -295px;
}



 /* .amazing_gabion{
 grid-row-start: 2 ;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 5;
        }

 .amazing_gabion2{
grid-row-start: 3;
grid-row-end: 3;
grid-column-start: 3;
grid-column-end: 5;
} */


  
      
     
           
      
              
  

    
 
        

    
.text21{
   padding-right: 24px;
   font-weight: bold;
   font-size: 18px;
   line-height: 25px;
   color: #353A3D;

   text-align: right;
}


     




  


.text12{

  
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
   margin-bottom: 10px;
   
    
    /* margin-left: 519px;
    margin-top: -246px; */
}

.text13{

   
   font-style: normal;
   font-size: 14px;
  
   /* margin-left: 491px; */
   text-align: right;
} 

.text14{
   
   font-size: 18px;
  
   text-align: center;
  margin-top: 10px;
}

.text15{
   
   font-size: 18px;
   text-align: right;
   margin-top: 10px;
  
  
}

.text16{
   
   font-size: 14px;
   line-height: 21px;
  margin-top: auto;
}

.text17{
   font-size: 17px;
   line-height: 21px;
   text-align: right;
   margin-top: 14px;
   margin-right: 22px;
}


.text18{
   
   font-size: 14px;
   line-height: 22px;
 } 

  .text19{
   font-size: 17px;
   line-height: 21px;
   text-align: right;
   margin-top: 14px;
   margin-right: 22px
  
  }

  .text20{
  font-size: 14px;
  line-height: 22px;
  
  }

  .text21{
  
   font-size: 18px;
   padding-right: 336px;
   
}
 
  

  .text22{
  
   font-style: normal;
   font-size: 17px;
   margin-top: -201px;
   margin-left: 23px;

  
  }

  .text23{
   
  
   padding-left: 513px;
    margin-top: -19px;
}
  

  .text24{
   font-size: 17px;
   line-height: 21px;
   text-align: right;
   margin-top: 14px;
   margin-right: 22px
  }

 .footer{
   background: #000000;
}
.footer-content{
 
   /* width: 1167px; */
   height: 80px;
   display: grid;
   grid-template-columns: repeat(2,1fr);
   align-items: center;
   justify-items: s;
   margin-top: 60px;
}
.footer-content a{
justify-self: self-end;
}


 .footer-text{
   font-size: 13px;
   line-height: 13px;
   color: #FFFFFF;
} 


 .x{
    text-align: right;
 } 

     
 

 
