.wraper{
    width: 1336px;
    height: 770px;
    background-image: url("../img/Фон\ 1.jpg");
}

header{
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
}

.forma{
    width: 444px;
    background: white;
    margin: 0 auto;
    padding-top: 31px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 38px;
    box-sizing: border-box;
    position: relative;
}

.forma::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;

    background: #3CB878;
}

.logo1{
    position: absolute;
    width: 157px;
    margin-top: 18px;
    color: #FFFFFF;
    padding-left: 8px;
}

.main-pig1{
    position: absolute;
    padding-left: 52%;
    padding-top: 1%;
}

.main-pig2{
    position: absolute;
    padding-left: 56%;
    padding-top: 1%;
}

.main-pig3{
    position: absolute;
    padding-left: 60%;
    padding-top: 1%;
}

.text1{
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 78%;
    padding-top: 18px;
}
   





.line{
    width: 1px;
    height: 19px;
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 976px;
    margin-top: -31px
}



main{
    padding-top: 54px;
}


.sign_up{
    font-size: 20px;
   
}

.log_in{
    text-decoration: none;
    color: #3CB878;
    font-size: 14px;
}

.forma-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.facebok{
    width: 160px;
    height: 48px;
    background-color: #305DB8;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.google{
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.button_text{
    font-size: 16px;
    color: white;
}

.facebok::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    top: 10px;
    left: 51px;
    opacity: 0.1;
}

.google::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    background-color: #2B0D09;
    top: 10px;
    left: 55px;
    opacity: 0.1;
}

.facebok:hover{
    background-color: #022263;
}

.google:hover{
    background-color: #AB1F09;
}

.sub_line{
    width: 152px;
    height: 0px;
    border: 1px solid #F2F2F2;
}

.or{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.sub_line_text{
    font-size: 14px;
    color: #848484;
    padding-bottom: 3px;

}

.text_input{
    width: 100%;
    height: 44px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.text_input::-webkit-input-placeholder {color:#BEBEBE;}
.text_input::-moz-placeholder          {color:#BEBEBE;}/* Firefox 19+ */
.text_input:-moz-placeholder           {color: #BEBEBE;}/* Firefox 18- */
.text_input:-ms-input-placeholder      {color:#BEBEBE;}

.text_input:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    outline: none;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
  .custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #F2F2F2;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
  }
  .custom-checkbox:checked+label::before {
    background-image: url("../img/Vector\ 1.png");
  }
  .checkbox-container{
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }

  .terms{
      color: #01813F;
      padding-left: 5px;
  }
  
  .terms:hover{
      text-decoration: underline;
  }

  .create_account{
    width: 100%;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: white;
    border: 0px;
    font-size: 16px;
  }

  .create_account:hover{
      background-color: #01813F;;
  }