.menu{

border-radius:5px;
height:50px;
line-height:50px;
max-width:900px;
text-align: center;
margin-left: 19%;


}
a {
    text-decoration: none;
    color: red;
 
}

   

.menu li {
    display: inline-block;
    padding:0 25px;
    height:50px;
    margin: 0 -2px;
}


.main-pic {
width: 100%;
height: 789px;
top: 145px;

}
.tirtle{
    width: 774px;
    height: 29px;
    text-align: center;
    margin-left: 26%;
}
.text{
    width: 1123px;
    height: 199px;
    text-align: center ;
    margin-bottom: 0px;
    line-height: 28px;
    margin-left: 14%;
    margin-top: 0%;
    text-align: justify;
    
    
}
.text-2{
    width: 1145px;
    height: 216px;
    text-indent: 10px;
    text-align: center ;
    margin: 0px;
    line-height: 28px;
    margin-left: 14%;
    margin-top: 0%;
    text-align: justify;
}

.butt{
    height: 51px;

    width: 191px;
    text-align: center;
    font-size: 20px;
    
    
    margin-left: 44%;
    background: red;
    
}
.text-3{
margin-left: 82%;
width: 462%;
height: 39%;
}
