body{
  margin: 0 auto;
}



.Wraper{
width: 1200px;
margin: 0 auto;

}




.iner-span{
  color: black;
}

main{
  display: flex;
}

.main-pic{
  width: 500px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid black;
  padding-right: 8%;
  margin-left: 15%;
  

}


.main-pic img{
  width: 215px;
  height: 238px;
  padding-left: 16%;
}

.text{
 
 text-align: center;
 }

 .global{
  
  font-size: 59px;
  

 


 
 color: rgb(17, 117, 231);
}
.list{
  list-style-type: none;
  padding-right: 16%;
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 30px;
  width: 87%;
  height: 70px;
 

 
 font-size: 20px;
 
 






  background:black;
 
  
}
.menu{
border: 1px solid #000;
/* width: 143px; */
/* height: 188px; */
background: rgba(0, 0, 0,
0.0001) ;
padding: 20px 25px;
list-style-type: none;
font-size: 19px;
/* margin-bottom: 30%; */
/* margin-left: 21%; */
/* padding-top: 10px; */
line-height: 40px;
}
.list-item1 {
background: rgb(190, 183, 183);
margin-right: 0%;

}
a{
  text-decoration: none;
}

.text{
  width: 885px;
  height: 120px;
  margin-left: 22%;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

.text2{
  width: 885px;
  height: 109px;
  margin-left: 22%;
  font-style: normal;
  font-weight: normal;
  line-height: 26px;
}
.menu2{
  width: 1045px;
  height: 48px;
  background: rgb(102, 152, 209);
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  line-height: 49px;
  font-size: 18px;
  margin-right: 406px;
  margin-left: 155px;
  text-indent: 23px;
  

  
}
.text3{
  margin-left: 72px;
  font-family: Arial, Helvetica, sans-serif;

}
.text4{
  text-decoration: underline;
  color: rgb(16, 12, 245);
}
