body {
   margin: 0px;
   width: 1366px;
}

a {
    text-decoration: none;
}

.wraper{
    background-image: url("../img/background1.svg");
    background-repeat: no-repeat;
    background-size: cover;
      
}

p {
   margin: 0px;
}

a {
   text-decoration: none;
   cursor: pointer;
}

header {
   display: flex;
   padding: 50px 170px 25px;
   justify-content: space-between;
}

.logo {
   color: white;
   font-weight: bold;
}

.logo:hover {
   color: #F26522;
}

.text1{
   font-size: 29px;
  margin-left: 9px;
}

.text2{
   font-size: 18px;
   margin-left: 9px;
}

.contacts p {
   color: white;
   font-size: 18px;
}

.email {
   margin-bottom: 19px;
}

/* .background1{
    width: 1283px;
    height: 976px;
    margin: 700px;
    margin-left: 899px;
    background: center;

    
} */



.logo1{
    width: 53px;
    height: 47px;
    left: 162px;
    top: 163px;
    color: rgb(248, 241, 241);
    
    
    
    
    
}

main {
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 170px 45px;
 }

.card-list {
   width: 300px;
   height: 260px;
   cursor: pointer;
}

.card-list:hover .card-name {
   color: #F26522;
}

.card-list:hover .price-info {
   opacity: 1;
   bottom: 0px;
}

.top-card {
   margin-bottom: 30px;
   text-align: center;
}

.card-list-img {
   height: 220px;
   margin-bottom: 10px;
   position: relative;
   overflow: hidden;
}

.card-list-img img {
   width: 100%;
   height: 100%;
}

.price-info {
   background-color: #F26522;
   display: flex;
   justify-content: space-between;
   padding: 7px 0px 12px 16px;
   position: absolute;
   bottom: -62px;
   left: 0px;
   right: 0px;
   opacity: 0;
   transition: all 1s;
}
 
.from {
   font-size: 10px;
   text-align: left;
   margin-bottom: 8px;
}

.price {
   font-size: 20px;
   text-align: left;
}

.details-block {
   padding: 21px 37px 0px 0px;
}

.details-text {
   font-size: 14px;
   text-align: left;
   position: relative;
}

.details-text::after {
   content: "\1433";
   position: absolute;
   right: -25px;
   top: -1px;
}

 .contact{
    /* font-family: Roboto; */
    font-style: normal;
    font-weight: normal; 
     font-size: 18px;
    line-height: 18px;
    color: white;
    padding-left: 234px;
    margin-top: 234px;
 }
.contact:hover{
    color: orange;
}
 .main-pig1{
   position: absolute;
    width: 300px;
    height: 220px;
    left: 178px;
    top: 232px;
  /* padding-left: 162px;
  margin-top: -89px; */
    
 }
 

 .main-pig2{
     position: absolute;
     width: 300px;
     height: 220px;
     left: 518px;
     top: 230px;
 }

 .text5{
     position: absolute;
     width: 163px;
     height: 21px;
     left: 607px;
     top: 440px;
     color: white;
 }

 .main-pig3{
    position: absolute;
    width: 300px;
    height: 220px;
    left: 876px;
    top: 230px;
 }

 .text6{
    position: absolute;
    width: 163px;
    height: 21px;
    left: 987px;
    top: 450px;
    color: white;
 }

 .main-pig4{
    position: absolute;
    width: 300px;
    height: 220px;
    left: 167px;
    top: 500px;
 }

 .text7{
    position: absolute;
    width: 163px;
    height: 21px;
    left: 257px;
    top: 718px;
    color: white;
 }

 .main-pig5{
    position: absolute;
    width: 293px;
    height: 220px;
    left: 522px;
    top: 500px;
 }

 .text8{
    position: absolute;
    width: 163px;
    height: 21px;
    left: 598px;
    top: 722px;
    color: white;
    
 }

 .main-pig6{
    position: absolute;
    width: 300px;
    height: 220px;
    left:876px;
    top: 500px;
 }

 .text9{
    position: absolute;
    width: 163px;
    height: 21px;
    left: 972px;
    top: 716px;
    color: white;
 }

footer {
   text-align: center;
   padding-bottom: 20px;
}

 .text10{
    font-size: 12px;
    color: white;
 }

 .card-name1{
   padding-left: 91px;
 }

 .logo2{
    width: 53px;
    height: 47px;
    background-image: url(../img/logo_white.svg);
 }

.logo {
   color: white;
  display: flex;
}

.logo:hover {
   color: #F26522;
}

.logo:hover .logo2 {
   background-image: url(../img/logo_orange.svg);
}

.email:hover {
   color: #F26522
}

.email:hover .price-info {
   opacity: 1;
   bottom: 0px;
}

.phone{
   color: white;
   
}
.phone:hover {
   color: #F26522;
}
 .card-name_3{
   margin-left: 88px
 }